.trendingquizcard {
  width: 100%;
  height: 35%;
  border-radius: 5px;
  padding: 4%;
  background-color: white;
  overflow: hidden;
}

.quiznumber {
  width: 60%;
  height: 100%;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: 180%;
  font-weight: 600;
  line-height: 34.5px;
  text-align: left;
  color: #474444;
  overflow: hidden;
  white-space: nowrap; /* Prevents text from wrapping */
  text-overflow: ellipsis;
}

.noofimpressions {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 5%;
}

.quizdate {
  width: 100%;
  height: 40%;
  display: flex;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: 90%;
  font-weight: 600;
  line-height: 16.5px;
  text-align: left;
  color: #60b84b;
}

.masterdiv {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-content: center;
  align-items: center;
}

.eachquizimpressions {
  display: flex;
  justify-content: center;
  align-items: center;
}

.noofimpressions-eye {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.eyediv {
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.eachquizimpressions {
  font-family: "Poppins", sans-serif;
  font-size: 140%;
  font-weight: 600;
  line-height: 22.5px;
  text-align: left;
  color: #ff5d01;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quiztext {
  width: 45%;
  height: 100%;
}
.quizimpressiondate {
  width: 55%;
  height: 100%;
}
