.dashBoardPrimaryDiv {
  width: 100%;
  height: 100%;
  margin: 0%;
  box-sizing: border-box;
}

.dashBoardSecondDiv {
  width: 100%;
  height: 100%;
  background-color: #ededed;
  padding-top: 5%;
  padding-left: 10%;
  padding-right: 10%;
}


.initialdiv {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: space-between;
  gap: 5%;
}


.numberofquiz-div,
.questionscreated-div,
.totalimpressions-div {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  gap: 5%;
  padding-left: 4%;
  padding-right: 4%;
  padding-top: 2%;
  padding-bottom: 2%;
  background-color: #fff;
}


.innernumberofquizdiv{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}



.countofquiz {
  width: 100%;
  height: 60%;
  color: #ff5d01;
  display: flex;
}

.createdsample{
  width: 100%;
  height: 40%;
  font-family: "Poppins", sans-serif;
  font-size: 200%;
  font-weight: 600;
  line-height: 45px;
  color: #ff5d01;

}

.numberquiztext {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: 400%;
  font-weight: 600;
  line-height: 90px;
}
.quiz {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: 200%;
  font-weight: 600;
  line-height: 45px;
  padding: 2%;
}



.innernumberofquestionsdiv{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}



.countofquestions {
  width: 100%;
  height: 60%;
  color: #60B84B;
  display: flex;
}

.createdsampleques{
  width: 100%;
  height: 40%;
  font-family: "Poppins", sans-serif;
  font-size: 200%;
  font-weight: 600;
  line-height: 45px;
  color: #60B84B;

}

.countquestiontext {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: 400%;
  font-weight: 600;
  line-height: 90px;
}
.questions {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: 150%;
  font-weight: 600;
  line-height: 45px;

}

.innernumberofimpressionsdiv{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.countofimpressions{
  width: 100%;
  height: 60%;
  color: #5076FF;
  display: flex;
}

.countimpressionstext{
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: 400%;
  font-weight: 600;
  line-height: 90px;
}

.total{
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: 180%;
  font-weight: 600;
  line-height: 45px;
  padding: 2%;
}

.createdimpressions{
  width: 100%;
  height: 40%;
  font-family: "Poppins", sans-serif;
  font-size: 200%;
  font-weight: 600;
  line-height: 45px;
  color: #5076FF;
}

.trends{
   width: 100%;
   margin-top: 6%;
   
}

.trendingquiz{
  font-family: "Poppins",sans-serif;
font-size: 250%;
font-weight: 600;
line-height: 52.5px;
text-align: left;
color: #474444;

}

.grid-container{
  height: 40%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3%;
  padding: 2%;
  margin-top: 3%;
  overflow-y: auto;
  scrollbar-width: none; 
  -ms-overflow-style: none;

}
.grid-container::-webkit-scrollbar {
  display: none; 
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height to center the loader */
}


