.modal {
  width: 100vw;
  height: 100vh;
  background: #000000cf;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
}

.modal-content {
  width: 60%;
  height: 40%;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
 
}

.deleteheading {
  font-family: "Poppins",sans-serif;
  font-size: 180%;
  font-weight: 600;
  line-height: 58.5px;
  text-align: center;
  color:  #474444;
  margin-top: 3%;
}

.modal-buttons{
    width: 70%;
    height: 15%;
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-left: 15%;
    gap: 10%;

}

.cancel-shadow {
    box-shadow: 0px 0px 15px 0px #00000040;
  }
  
