.time {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
  color: #d60000;
}

@media (max-width: 768px) {
  .time {
    font-size: 3vw; 
  }
}

@media (max-width: 480px) {
  .time {
    font-size: 5vw; 
  }
}
